.Products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 436px);
    justify-content: center;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    min-height: calc(100vh - 240px);
}