.ProductCard {
    max-width: 436px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;

    .badge {
        position: absolute;
        left: 0;
        top: 20px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        background: red;
        color: #fff;
        padding: 3px 10px;
    }

    .product_tumb {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        padding: 50px;
        background: #f0f0f0;
    }

    .product_tumb {
        > img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }

    .product_details {
        padding: 30px;

        h4 {
            p {
                font-weight: 500;
                display: block;
                margin-bottom: 18px;
                text-transform: uppercase;
                color: #363636;
                text-decoration: none;
                transition: 0.3s;
            }
        }
    }

    .product_catagory {
        display: block;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ccc;
        margin-bottom: 18px;
    }

    .product_details h4 p:hover {
        color: #fbb72c;
    }

    .product_details {
        > p {
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 18px;
            color: #999;
        }

        .product_bottom_details {
            overflow: hidden;
            border-top: 1px solid #eee;
            padding-top: 20px;

            .product_price {
                font-size: 18px;
                color: #fbb72c;
                font-weight: 600;

                > small {
                    font-size: 80%;
                    font-weight: 400;
                    display: inline-block;
                    margin-bottom: 15px;
                }
            }
        }

        .show_more {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
    }
}
