main {
    .main_content {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 30px 0;

        .content_info {
            max-width: 480px;

            .button_get_update {
                color: #ec5c2e;
                border-radius: 32px;
                padding: 8px 27px;
                background: #f3dcd5;

                > img {
                    width: 24px;
                }
            }

            .title {
                color: #fff;
                font-size: 65px;
                font-style: normal;
                font-weight: 700;
                line-height: 80.5px;
                letter-spacing: 0.2px;
                margin-top: 60px;
            }

            .description {
                color: #ececec;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.2px;
                margin-top: 25px;
            }

            .info_panel {
                display: flex;
                justify-content: space-between;
                border-radius: 43px;
                background: #FFF;
                padding: 16px 24px;
                max-width: 420px;
                box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
                margin-top: 80px;

                .info_item {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    &.location {
                        .icon {
                            width: 14px;
                        }
                    }

                    &.date {
                        .icon {
                            width: 18px;
                        }
                    }
                }
            }
        }

        .content_banner {
            max-width: 568px;
            position: relative;

            .banner {
                width: 100%;
                min-width: 340px;
                position: relative;
            }
        }
    }
}
