header {
    display: flex;
    align-items: center;
    padding: 28px 0;

    .flex_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Logo {
        img {
            width: 158px;
        }
    }

    .Navigation {
        display: flex;
        gap: 64px;

        > a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            border-bottom: 1px solid transparent;
            transition: .3s;

            &:hover {
                border-color: #fff;
            }
        }
    }
}