.Footer {
    margin-top: 100px;

    .copyright_text {
        color: #ececec;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: center;
    }
}